/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to top, #c22573, #e991c1);
}

.titleHome {
  text-align: center;
  color: #d2d1d1;
}

.forms {
  padding: 30px;
}

.container {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  color: #880857;
  margin-bottom: 32px;
}

/* Formulário */
.formLogin {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.groupForm {
  text-align: left;
  border: none;
}

.groupForm label {
  display: block;
  margin: 12px 0;
  font-weight: 500;
  color: #000;
}

label {
  text-decoration: none;
}

.groupForm input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #d2d1d1;
  border-radius: 3px;
  font-size: 1.2rem;
  transition: border-color 0.3s ease;
}

.groupForm input:focus {
  border-color: #921462;
  outline: none;
}

/* Botão */
.button {
  background-color: #0c8527;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #016517;
}

/* Link */
.linkForgotPassword {
  display: block;
  margin-top: 10px;
  color: #921462;
  font-weight: 500;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.linkForgotPassword:hover {
  text-decoration: underline;
}

.listMovies {
  flex-direction: column;
}

#titleList {
  color: #fdfdfd;
  text-align: center;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 98%;
  font-size: 1.2rem;
  margin: 20px auto;
  background-color: #eceaea;
}

th, td {
  border: 1px solid #921462;
  padding: 30px;
}

th {
  background-color: #c74896;
  font-weight: 500;
  color: #fdfdfd;
  padding: 4px;
  text-align: center;
}

td {
  color: #000;
  font-weight: 500;
  text-align: left;
}

/* área dos botões de editar */
.actionButtons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 20px;
}

.buttonCancel {
  margin-top: 20px;
  background-color: #9c0c0c;
  padding: 8px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background 0.3s ease;
  color: #ffffff;
}

.buttonCancel:hover {
  background-color: #710808;
}

.buttonVoltarCadastro {
  background-color: #ebc3dc;
  color: #921462;
  padding: 8px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background 0.3s ease;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 250px;
  height: 60px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttonVoltarCadastro:hover {
  background-color: #ca9fba;
}
